* {
  box-sizing: border-box;
}

/* Variables */
:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --success-color: #28a745;
  --danger-color: #dc3545;
  --warning-color: #ffc107;
  --info-color: #17a2b8;
  --light-foreground: #eee;
  --light-background: #f8f9fa;
  --dark-foreground: #343a40;
  --dark-background: #111;
}

body {
  font-family: "Source Code Pro", monospace;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  max-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  background-color: var(--dark-background);
  background-image: url(../img/screenshot_1723752769100.webp);
  background-position: center;
  background-size: auto 100vh;
  background-repeat: no-repeat;
  color: var(--light-foreground);
  overflow-x: hidden;
}

p {
  width: 100%;
  text-align: center;
  overflow-x: auto;
}

a {
  color: var(--info-color);
  font-weight: bold;
  /* No underline */
  text-decoration: none;
}

h1 {
  text-align: center;
  height: 10vh;
}

body > * {
  max-width: min(80%, 800px);
}

button {
  padding: 10px;
  background-color: var(--primary-color);
  color: var(--light-foreground);
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

img {
  border-radius: 1%;
}

main {
  overflow-y: auto;
  scrollbar-width: none;
  height: 80vh;
  /* Translucent background */
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--light-foreground);
  border: 2px dashed var(--secondary-color);
  padding: 20px;
  border-radius: 10px;
}

.well {
  font-size: xx-small;
  max-width: min(90%, 240px);
}

footer {
  position: sticky;
  bottom: 0;
  background-color: color-mix(
    in srgb,
    var(--dark-background) 80%,
    transparent 20%
  );
  height: fit-content;
  width: 100%;
}

.danger {
  background-color: var(--danger-color);
}

.warning {
  color: var(--warning-color);
}

#load_button {
  width: 100%;
}

input,
textarea {
  background-color: var(--dark-background);
  color: var(--light-foreground);
  border: 1px solid var(--light-foreground);
  padding: 5px;
  border-radius: 3px;
  vertical-align: middle;
}

.social {
  width: 80%;
  max-width: min(80%, 640px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  column-gap: 10px;
}

.social a {
  display: inline-block;
  width: 50%;
  text-align: center;
  word-wrap: break-word;
}

.social img {
  vertical-align: middle;
}

a:hover {
  filter: brightness(1.2);
}

q {
  display: block;
  font-style: italic;
  border-left: 4px solid var(--secondary-color);
  border-right: 4px solid var(--secondary-color);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

form {
  padding: 10px;
}

form * {
  margin-bottom: 5px;
}

form input {
  width: 40%;
  max-width: 50%;
  margin-right: 8%;
}

form textarea {
  width: 100%;
  height: 100px;
  resize: vertical;
}

.form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  position: relative;
  display: inline-flex;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-end;
  max-height: initial;
  font-size: small;
  color: var(--secondary-color);
}

.info .toggle {
  cursor: pointer;
  user-select: none;
  margin: 5px;
  color: var(--info-color);
  background-color: var(--light-foreground);
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.info .info-text {
  display: none;
  position: absolute;
  width: max(240px, 80%);
  max-width: 600px;
  height: fit-content;
  word-wrap: normal;
  background-color: var(--dark-foreground);
  color: var(--light-foreground);
  padding: 8px 12px;
  border-radius: 4px;
  font-size: small;
  border: 1px solid var(--secondary-color);
  z-index: 100;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  right: 1rem;
  transform: translateY(-50%);
}

.info.show .info-text {
  display: block;
}
